* {
	font-style: normal;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	font-family: 'Nunito Sans', sans-serif;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #222;
}

button,
input {
	font-family: inherit;
}